<div class="container">
  <h2>ユーザー情報の編集</h2>
  <% @user.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
  <% end %>
  <%= form_for @user, url: user_path(@user) do |f| %>
      <p>ユーザー名</p>
  <p><input name="name" value="<%= @user.name %>"></p>
  <p>メールアドレス</p>
  <p><input name="email" value="<%= @user.email %>"></p>
  <p>
  <%= f.submit %>
  </p>
  <% end %>
</div>
